.dibo-panel-item::after {
  border-width: 1px;
  border-top: none;
  border-left: none;
  content: '';
  position: absolute;
  -webkit-transform-origin: center;
  transform-origin: center;
  box-sizing: border-box;
  pointer-events: none;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  border: 0 solid #d6e4ef;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
