@charset "utf-8";
/* reset */
* {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  color: inherit;
}
em {
  font-style: normal;
}
i {
  font-style: normal;
  display: block;
}
img {
  border: none;
  width: 100%;
  height: auto !important;
}
input {
  border: 0;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-appearance: none;
  border: 0;
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f5f5f5 inset !important; //关于解决输入框背景颜色
}
html {
  font-size: 100px;
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  background-color: #fff;
  margin: 0 auto;
  font-size: 12px;
  font-family: "Microsoft Yahei", arial;
  color: #333;
}
/* common*/
.wrap {
  width: 100%;
  margin: auto;
  background: #f4f8fe;
  overflow: hidden;
  position: relative;
}
.clearfix {
  clear: both;
  zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.m-r-0 {
  margin-right: 0 !important;
}
.p32 {
  padding: 0 0.32rem;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d4d1d1;
  font-size: 0.24rem;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bbbbbb;
  font-size: 0.24rem;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bbbbbb;
  font-size: 0.24rem;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bbbbbb;
  font-size: 0.24rem;
}
.boxs {
  box-shadow: 0rem 0.01rem 0.15rem #eee;
}
.bfff {
  background: #fff !important;
  border-top: 1px solid #f4f8fe;
}
/*header*/
.fixedheader {
  position: fixed;
  top: 0;
  left: 0;
}
.header {
  width: 100%;
  background: #fff;
  z-index: 11;
}
.header_bao {
  padding-top: 0.23rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.22rem;
}
.header_o {
  display: flex;
  justify-content: space-between;
}
.header_o h1 a img {
  display: block;
  width: 1.91rem;
  height: 0.74rem;
}
.header_t {
  display: flex;
  justify-content: flex-start;
  margin-left: 2.04rem;
}
.header_t .tel img {
  display: block;
  width: 2rem;
  height: 0.28rem;
  margin-top: 0.24rem;
}
.header_t .sousuo {
  display: block;
  width: 0.34rem;
  height: 0.34rem !important;
  margin-top: 0.21rem;
  margin-left: 0.4rem;
  display: none;
}
.header_t p {
  width: 0.02rem;
  height: 0.33rem;
  background: #eee;
  margin-top: 0.21rem;
  margin-left: 0.2rem;
}
.header_o .more {
  display: block;
  width: 0.47rem;
  height: 0.42rem !important;
  margin-left: 0.2rem;
  margin-top: 0.16rem;
}
.header_sousuo {
  height: 0.6rem;
  line-height: 0.6rem;
  border: 1px solid #eee;
  border-radius: 0.15rem;
  background: #f6f6f6;
  position: relative;
  margin-top: 0.2rem;
}
.header_sousuo #searchTxt {
  width: 6.2rem;
  text-align: center;
  height: 0.36rem;
  line-height: 0.36rem;
  background: #f6f6f6;
  border-right: 1px solid #dcdcdc;
  margin-top: 0.14rem;
}
.header_sousuo #btn {
  width: 0.24rem;
  height: 0.24rem;
  margin-left: 0.2rem;
  margin-top: 0.18rem;
  background: url(../images/sousuo.png) no-repeat center;
  background-size: 100% 100%;
}
.header_sousuo .searDrop {
  background: #fff;
  color: #898989;
  line-height: 0.5rem;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 3;
}
.header_sousuo .searDrop li {
  padding: 0 10px;
}
.pbottom {
  padding-bottom: 0.2rem;
}
/*蒙版-子菜单*/
.mengb {
  width: 100%;
  height: 100%;
  position: fixed;
  left: -7.5rem;
  top: 0;
  background: rgba(0, 0, 0, 0.66);
  z-index: 12;
}
.mengb_n {
  width: 5.68rem;
  background: #fff;
}
.mengb_n_o {
  padding: 0 0.46rem;
  display: flex;
  justify-content: space-between;
}
.mengb_n_o a {
  display: flex;
  justify-content: flex-start;
  width: 2rem;
  margin-top: 0.37rem;
}
.mengb_n_o a img {
  display: block;
  width: 0.58rem;
  height: 0.5rem !important;
}
.mengb_n_o a span {
  display: block;
  margin-top: 0.13rem;
  margin-left: 0.2rem;
}
.mengb_n_o .close {
  display: block;
  width: 0.4rem;
  height: 0.4rem !important;
  margin-top: 0.37rem;
}
.mengb_n_t {
  margin-top: 0.34rem;
  display: flex;
  justify-content: flex-start;
}
.mengb_n_t .yiji {
  width: 2.22rem;
  background: #e5e5e5;
}
.mengb_n_t .yiji li {
  height: 1.22rem;
  line-height: 1.22rem;
  text-align: center;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  color: #333333;
  font-size: 0.28rem;
}
.mengb_n_t .yiji li:last-child {
  border-bottom: none;
  line-height: 0.3rem;
  padding-top: 0.34rem;
  font-size: 0.24rem;
}
.mengb_n_t .yiji li:last-child span {
  display: block;
  font-size: 0.2rem;
}
.mengb_n_t .yiji li a {
  width: 100%;
  height: 100%;
  display: block;
}
.active {
  background: #ff7e06;
  color: #fff !important;
}
.mengb_n_t .erji {
  width: 3.43rem;
}
.mengb_n_t .erjio {
  width: 2.6rem;
  margin: auto;
}
.mengb_n_t .erjio a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.18rem;
  border-bottom: 1px dashed #e2e2e2;
  color: #666666;
  font-size: 0.24rem;
}
/*底部*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f4f8fe;
  z-index: 9;
}
.footer_o {
  color: #999;
  font-size: 0.2rem;
  text-align: center;
  padding: 0.18rem 0;
  line-height: 0.32rem;
  margin-bottom: 1.1rem;
}
.footer_t {
  display: flex;
  justify-content: space-around;
  background: #fff;
  border-top: 1px solid #eee;
  box-sizing: border-box;
  padding-top: 0.11rem;
  padding-bottom: 0.12rem;
}
.footer_t a {
  display: block;
  width: 25%;
}
.footer_t a dl {
  text-align: center;
}
.footer_t a dl dt {
  width: 0.42rem;
  height: 0.42rem;
  margin: auto;
  position: relative;
}
.footer_t a dl dt img {
  height: 0.42rem !important;
  position: absolute;
  left: 0;
  top: 0;
}
.footer_t a dl dt .imgt {
  display: none;
}
.footer_t a dl dd {
  color: #666;
  font-size: 0.24rem;
  margin-top: 0.1rem;
}
.active2 dl dt .imgt {
  display: block !important;
}
.active2 dl dt .imgo {
  display: none;
}
